
<footer>
   <div class="container">
      <div class="row">
         <div class="col-md-4">
             <div class="full">
                <div class="logo_footer">
                   <div class="one_fourth animate" data-anim-type="fadeInUp"><h4 class="lmb">Information de contact</h4></div>
                 
                </div>
                <li><i class="fa fa-home" style="color: #f5e300;"></i> <span style="color: #b3dbf7;"><a href="/index.php/fr/component/content/2-uncategorised/4-centre-national-de-l-informatique?Itemid=169"><span style="color: #b3dbf7;">  Centre National de l’Informatique</span></a></span></li>
                <li><i class="fa fa-map-marker " style="color: #f5e300;"></i> <span style="color: #b3dbf7; font-size: 14px; line-height: 23px;">   17, rue Belhassen Ben Chaabane, 1005 El Omrane, Tunis Tunisie.</span></li>
                <li><i class="fa fa-phone " style="color: #f5e300;"></i> <span style="color: #b3dbf7;"> tel : + 216 71 783 055</span></li>
                <li><i class="fa fa-fax " style="color: #f5e300;"></i> <span style="color: #b3dbf7;"> fax: + 216 71 781 862</span></li>
                <li><i class="fa fa-envelope" style="color: #f5e300;"></i> <span style="color: #b3dbf7;"> mail:<span id="cloak82868">Cette adresse e-mail est protégée contre les robots spammeurs. Vous devez activer le JavaScript pour la visualiser.</span><script type='text/javascript'>document.getElementById('cloak82868').innerHTML='';var prefix='&#109;a'+'i&#108;'+'&#116;o';var path='hr'+'ef'+'=';var addy82868='w&#101;bcn&#105;'+'&#64;';addy82868=addy82868+'cn&#105;'+'&#46;'+'tn';var addy_text82868='w&#101;bcn&#105;'+'&#64;'+'cn&#105;'+'&#46;'+'tn';document.getElementById('cloak82868').innerHTML+='<a '+path+'\''+prefix+':'+addy82868+'\' style="color: #ffffff;">'+addy_text82868+'<\/a>';</script></span></li>
                <li><i class="fa fa-globe" style="color: #f5e300;"></i> <span style="color: #b3dbf7;"> website :</span> <span style="color: #b3dbf7;"><a href="http://www.cni.tn" style="color: #b3dbf7;">http://www.cni.tn</a></span></li>
             </div>
         </div>
         <div class="col-md-8">
            <div class="row">
            <div class="col-md-7">
               <div class="row">
                  <div class="col-md-6">
                   <div class="one_fourth animate" data-anim-type="fadeInUp"><h4 class="lmb">Certification ISO</h4>

                       <div class="custom">
                           <table border="0" style="width: 151px; height: 37px;">
                       <tbody>
                       <tr>
                       <td><a href="/images/footers/isoarmax.jpg" target="_blank" rel="{handler: 'iframe', size: {x: 680, y: 560}, overlayOpacity: 0.3}" class="jcepopup pg-modal-button"><img src="http://www.cni.tn/images/footers/97x145xisoarmax.jpg.pagespeed.ic.qCoeY3sZCK.jpg" alt="isoarmax" width="97" height="145" pagespeed_url_hash="3015825247"/></a></td>
                       <td><a href="/images/footers/isofrmax.jpg" target="_blank" rel="{handler: 'iframe', size: {x: 680, y: 560}, overlayOpacity: 0.3}" class="jcepopup pg-modal-button"><img src="http://www.cni.tn/images/footers/66x98xisofrmax.jpg.pagespeed.ic.UURWmSkWZZ.jpg" alt="isofrmax" width="66" height="98" pagespeed_url_hash="823669636"/></a></td>
                       </tr>
                       <tr>
                       <td> </td>
                       <td> </td>
                       </tr>
                       </tbody>
                       </table></div>
                   </div>
                  </div>
            <div class="col-md-6">
               <div class="one_fourth animate" data-anim-type="fadeInUp"><div class="qlinks"><h4 class="lmb">Liens Utiles</h4><ul>
                   <li><a href="http://www.infocom.tn" target="_blank"><span style="color: #9ed6f3;"><i class="fa fa-angle-right" style="color: #f5e300;"></i> Ministère des Technologies de Communication</span></a></li>
                   <li><a href="http://www.bawaba.gov.tn" target="_blank"><span style="color: #9ed6f3;"><i class="fa fa-angle-right" style="color: #f5e300;"></i> Portail de l'Administration Tunisienne</span></a></li>
                   <li><a href="http://www.ati.tn" target="_blank"><span style="color: #9ed6f3;"><i class="fa fa-angle-right" style="color: #f5e300;"></i> Agence Tunisienne d’Internet</span></a></li>
                   <li><a href="http://www.certification.tn" target="_blank"><span style="color: #9ed6f3;"><i class="fa fa-angle-right" style="color: #f5e300;"></i> Agence Nationale de la Certification Electronique </span></a></li>
                   <li><a href="http://www.ansi.tn" target="_blank"><span style="color: #9ed6f3;"><i class="fa fa-angle-right" style="color: #f5e300;"></i> Agence Nationale de la sécurité Informatique</span></a></li>
                   <li><a href="http://www.tunisietelecom.tn" target="_blank"><span style="color: #9ed6f3;"><i class="fa fa-angle-right" style="color: #f5e300;"></i> Tunisie Télécom</span></a></li>
                   <li><a href="http://www.poste.tn" target="_blank"><span style="color: #9ed6f3;"><i class="fa fa-angle-right" style="color: #f5e300;"></i> Poste tunisienne </span></a></li>
                   <li><a href="http://www.smartunisia.tn/" target="_blank"><span style="color: #9ed6f3;"><i class="fa fa-angle-right" style="color: #f5e300;"></i> Smart Tunisia</span></a></li>
                   <li><a href="http://data.gov.tn/" target="_blank"><span style="color: #9ed6f3;"><i class="fa fa-angle-right" style="color: #f5e300;"></i> Open Data</span></a></li>
                   </ul>
                   </div></div></div></div></div>
            <div class="col-md-5">
              
             
            </div>
            </div>
         </div>
      </div>
   </div>
</footer>
<!-- footer end -->
<div class="cpy_">
   <p>Copyright © 2016 Centre National de l'Informatique tous droits réservés </p>
</div>