<app-navbar></app-navbar>

<hr>

<div class = "row">
    <h2> Les formations Disponible</h2>
</div>
<br> <br>
<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th>  Nom</th>
            <th> Domaine </th>
            <th> Période </th>
            <th> Prix </th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let formation of formation" >
            <td> {{ formation.nom }} </td>
            <td> {{ formation.domaine }} </td>
            <td> {{ formation.periode }} </td>
            <td> {{ formation.prix }} </td>
            
        </tr>
    </tbody>
</table>