<app-navbar></app-navbar>
<html>

<body>
   
    <section class="slider_section ">
        <div class="rows">
           <img src="/assets/img/cni.jpg" alt="" width="100%">
         
           
        </div>
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
           <div class="carousel-inner">
              <div class="carousel-item active">
                 
                 <div class="container ">
                    <div class="row">
                       <div class="col-md-7 col-lg-6 ">
                          
                          <div class="detail-box">
                             <h1>
                                <span>
                                    Centre National de l’Informatique
                                </span>
                                <br>
                               
                             </h1>
                             <h2>
                                A PROPOS DU CNI
                             </h2>
                             <p>

                                Le Centre National de l’Informatique est un établissement public à caractère non administratif doté de la personnalité civile et de l’autonomie financière. Le CNI est un organisme placé sous la tutelle du Ministre des Technologies de la Communication, et opérant dans les domaines du secteur de l’informatique et des technologies de la communication et certifié ISO 9001version 2015.

                            </p>
                             
                          </div>
                       </div>
                       
                    </div>
                 </div>
              </div>
           </div></div>
     </section>
     <!-- end slider section -->


    <section class="product_section layout_padding">
        <div class="container">
         
           <div class="row">
            <hr>
              <div class="col-sm-6 col-md-4 col-lg-4">
                 <div class="box">
                    
                    <h4>Applications Nationales</h4>
                    <div class="img-box">
                       <img src="/assets/img/app_nat.jpg" alt="">
                    </div>
                    <div class="detail-box">
                   
                      <p> Développement des tests de principales applications nationales, sectorielles et à usage commun au profit de plusieurs ministères et entreprises publiques</p>
                    </div>
                    <a href="/login">lire suite</a>
                 </div>
                
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                 <div class="box">
                   
                    <h4>Gouvernance</h4>
                    
                    <div class="img-box">
                       <img src="/assets/img/gouv.jpg" alt="">
                    </div>
                    <div class="detail-box">
                     <p>La bonne gouvernance et de la lutte contre la corruption

                     </p>
                     
                    </div>
                    <a href="/login">lire suite</a>
                    <br><br><br><br><br><br>
                 </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="box">
                   
                   <h4>L'Accès à L'Information</h4>
                   <div class="img-box">
                      <img src="/assets/img/accès.jpg" alt="">
                   </div>
                   <div class="detail-box">
                   <p>Le CNI met, sur son site WEB, à la disposition du public les informations et les documents administratifs dont l’accès est libre. </p>
                     
                  
                <br><br><br><br></div>
                <a href="/login">lire suite</a>
                </div>
           </div>



           <section class="why_section layout_padding">
            <div class="container">
               <div class="heading_container heading_center">
                  <h2>
                    NOS SERVICES
                  </h2>
               </div>
               <div class="row">
                  <div class="col-md-4">
                     <div class="box ">
                        <span> <i class="fa fa-wrench animate zoomIn"></i> Assistance</span>
                        <div class="detail-box">
                          
                           <h5>
                            CNI assiste ses clients dans la réalisation de projets selon les termes contractuels
                           </h5>
                          
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="box ">
                       <span><i class="fa fa-cogs animate zoomIn"></i> Développement des Applications</span>
                        <div class="detail-box">
                           <h5>
                            Développement des Grandes Applications EGOV
                           </h5>
                           
                        </div>
                     </div>
                  </div>

                  <div class="col-md-4">
                    <div class="box ">
                      <span><i class="fa fa-database animate zoomIn"></i> Hébergement</span>
                       <div class="detail-box">
                          <h5>
                            Le CNI est doté d’un Data Center réservé pour l’hébergement des grandes Applications de l’Etat
                          </h5>
                          
                       </div>
                    </div>
                 </div>



               </div>
            </div>
         </section>
         <section class="why_section layout_padding">
            <div class="container">
               
               <div class="row">
                  <div class="col-md-4">
                     <div class="box ">
                        <span> <i class="fa fa-soundcloud animate zoomIn"></i> Continuité d'activité</span>
                        <div class="detail-box">
                          
                           <h5>
                            Sauvegarde et sécurité des grandes Applications informatiques de l’Etat
                           </h5>
                          
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="box ">
                       <span><i class="fa fa-mortar-board animate zoomIn"></i> Formation</span>
                        <div class="detail-box">
                           <h5>
                            Le CNI propose chaque année un programme de séminaires de haut niveau
                           </h5>
                           
                        </div>
                     </div>
                  </div>

                  <div class="col-md-4">
                    <div class="box ">
                      <span><i class="fa fa-bolt animate zoomIn"></i> Administration des réseaux</span>
                       <div class="detail-box">
                          <h5>
                            Administration et Supervision des réseaux et des solutions de sécurit
                          </h5>
                          
                       </div>
                    </div>
                 </div>



               </div>
            </div>
         </section>